body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  background: #111;
  color: white;
}

#ui {
  width: 300px;
  padding: 12px;
  background: #1d1d1d;
}

.panel {
  margin-bottom: 16px;
}

#bgPreview {
  width: 100%;
  margin-top: 8px;
  border: 1px solid #333;
}

#gameContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
